html {
    scroll-behavior: smooth;
}

.navbar {
    box-shadow: 0px 7px 30px 4px rgba(0, 0, 0, 0.15);
}

.navbar_detail {
    padding: 1vh 5vh !important;
    justify-content: space-between !important;
}

.navbar-right {
    justify-content: flex-end !important;
}

.navbar-header {
    justify-content: flex-start !important;
}

.navbar-brand {
    height: auto;
    width: 45%;
}

.nav-link {
    font-weight: bold;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.CleanPic {
    background-image: url(Image/About_Us.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.CleanOverlay {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
    z-index: 2;
}

.AbText {
    padding: 0 2%;
    width: 50%;
    z-index: 3;
    font-size: 1em;
}

.AbTitle {
    font-weight: bold;
    font-size: 1.65em;
    line-height: 2.5em;
}

.Benefits {
    width: 100%;
    height: 30%;
}

.BenIcon {
    justify-content: center;
}

.Profile {
/*    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);*/
    width: 20%;
    margin: 0 2vh;
    display: flex;
    padding: 2vh;
    flex-direction: column;
    justify-content: center;
    border-radius: 15vh;
    align-items: center;
}

/*
.Profile:hover > div {
    filter: opacity(0%);
    transition: .2s ease-in;
}
*/

.Profile:hover {
    cursor: pointer;
}

.IconList {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 40%;
    filter: opacity(100%);
    height: 15vh;
}

.ExpIcon {
    background-image: url(Image/Maid.png);
}

.SoapIcon {
    background-image: url(Image/star.png);
}

.ThroughIcon {
    background-image: url(Image/Soap.png);
}

.CommitIcon {
    background-image: url(Image/Commit.png);
}

.CompleteIcon {
    background-image: url(Image/Complete.png);
}

.Desc {
    filter: opacity(100%);
    display: flex;
    font-weight: bold;
    padding: 1vh 0;
    justify-content: center;
}

.Services {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100%;
    height: 70%;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(221,220,218,1) 50%, rgba(194,194,196,1) 100%);
}

.swiper {
    width: 100%;
    padding-top: 50px;
    height: 100%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding-bottom: 50px;
}

.swiper-slide {
    display: flex !important;
    width: 35% !important;
    height: 55% !important;
}

.PicHolder {
    display: flex !important;
    position: relative;
    width: 60% !important;
    height: 100% !important;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.OriginPic {
    position: absolute;
    z-index: 2;
    background-position: center;
    background-size: cover;
    width: 100% !important;
    height: 100% !important;
}

.PicOverlay {
    background-color: black;
    position: relative;
    height: 100%;
    background-size: cover;
    background-position: center;
    width: 100%;
    filter: blur(20px);
}

.PicDesc {
    background-color: white;
    padding: 2vw;
    width: 60%;
    height: 100%;
    position: relative;
    z-index: 2;
}

.PicDetails {
    font-size: 1vw;
}

.ContWeekly {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.ContWeekly, .ContMoveOut {
    height: 35%;
    width: 100%;
}

.ContMoveOut {
    display: flex;
    justify-content: center;
    align-items: center;
}

.AlignRight {
    text-align: right;
}

.OneTime{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 30%;
}

.tableHeader {
    text-align: center;
}

.WeekTime {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
}

.MoveOutDesc, .WeeklyDesc, .OneTimeDesc {
    width: 75%;
}
.WeeklyDesc {
    text-align: center
}

.TablePayment {
    width: 100%;
}

.PricingTitle,.FAQsTitle, .TestiTitle {
    text-align: center;
    font-size: 6vh;
    font-weight: bold;
    margin-bottom: 3vh;
}

.FAQs {
    width: 70% !important;
    display: flex;
    flex-direction: column;
}

.CollapseBtn {
    text-decoration-line: none;
}

button.btn-link {
    font-weight: bold !important;
    text-decoration: none !important;
}

#accordion {
    margin-top: 1vh;
}

.card {
    margin: 2vh !important;
}

.Testimonial {
    display: flex;
    justify-content: center;
    margin-top: 4vh;
}

.TestCont {
    margin-top: 2vh;
    text-align: center;
}

.FeedbackReview, .BeforeAfter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;
}

.FeedbackReview iframe {
    pointer-events: none;
    width: 95%;
}

.B4_1, .B4_2, .B4_3, .B4_4, .B4_5, .B4_6 {
    width: 50%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.BeforeAfter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

.B4_1 {
    background-image: url(Image/B4_1.png);
}

.B4_2 {
    background-image: url(Image/B4_2.jpeg);
}

.B4_3 {
    background-image: url(Image/B4_3.jpeg);
}

.B4_4 {
    background-image: url(Image/B4_4.png);
}

.B4_5 {
    background-image: url(Image/B4_5.jpeg);
}

.B4_6 {
    background-image: url(Image/B4_6.jpg);
}

.Foot {
    height: auto;
    background-color: #f8f9fa;
    box-shadow: 0px 7px 30px 4px rgba(0, 0, 0, 0.15);
}

.FooterBrand {
    height: 100%;
    width: 100%;
    background-image: url(Image/Logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.LogonContact {
    display: flex;
    width: 15%;
    flex-direction: column;
    justify-content: center;
}

.contact {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 1vh;
}

.FootDetails {
    padding: 2vw;
    display: flex;
    justify-content: center;
}

.DetailSect {
    padding: 0 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-Whatsapp , .btn-Facebook , .btn-Email {
    padding: 0.85vw 2.5vh !important;
    border-radius: 2vw !important;
}

.btn-Whatsapp:hover {
    box-shadow: 0px 0px 10px 2px rgb(94,196,58,0.45) !important;
    transition: .2s ease-in;
}

.btn-Facebook:hover {
    box-shadow: 0px 0px 10px 2px rgb(60,106,255,0.45) !important;
    transition: .2s ease-in;
}

.btn-Email:hover {
    box-shadow: 0px 0px 10px 2px rgb(231,71,56,0.45) !important;
    transition: .2s ease-in;
}
    
svg {
    filter: invert();
    height: 100%;
}

.btn-Whatsapp {
    background-color: #5ec43a !important;
}

.btn-Facebook {
    background-color: #3c6aff !important;
}

.btn-Email {
    background-color: #e74738 !important;
}

.BusinessHourTitle {
    font-weight: bold;
    margin-bottom: 1vh;
    padding-bottom: 1vh;
    width: 60%;
    border-bottom: 1px solid rgb(0,0,0,0.25);
}

.LocationSect {
    padding: 0 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
    .AbText {
        width: 97%;
    }
    
    .CleanPic {
        justify-content: center;
        text-align: left;
    }
    
    .swiper-slide {
        flex-direction: column;
        width: 65% !important;
        height: 65% !important;
    }
    
    .PicHolder, .PicDesc {
        width: 100% !important;
    }
    
    .PicDesc {
        padding: 3vw;
    }
    
    .PicDesc b {
        display: flex;
        justify-content: center;
    }
    
    .PicDetails {
        font-size: 1.45vh;    
    }
    
    .Pricing {
        display: flex;
        flex-direction: column;
    }
    
    .OneTime, .WeekTime, .ContMoveOut {
        width: 100%;
        margin-top: 5vh;
    }
    
    .Benefits {
        display: flex;
        flex-wrap: wrap;
        width: 100% !important;
        height: 60%;
        margin: 3vh 0;
        justify-content: center;
    }
    
    .BenIcon {
        flex-direction: row;
        flex-wrap: wrap;
        height: 50%;
    }
    
    .Profile {
        width: 50%;
        padding: 0;
        margin: 0;
    }
    
    .Testimonial {
        flex-direction: column;
    }
    
    .FeedbackReview iframe{
        width: 95%;
    }
    
    .FootDetails {
        flex-direction: column;
    }
    
    .LocationSect {
        text-align: left;
    }
    
    .DetailSect {
        margin: 2vh 0;
    }
    
    .FooterBrand {
        width: 50%;
        height: 80px;
    }
    
    .btn-Whatsapp , .btn-Facebook , .btn-Email {
        height: 6vh;
    }
    
    .LogonContact {
        width: 100%;
    }
    
    svg {
        height: 45%;
        width: 100%;
    }
    
    .Contact {
        justify-content:flex-start;
    }
    
    .Contact button {
        margin-right: 2vh;
    }
    
    .FootDetails {
        margin-top: 3vh;
    }
    
    .PricingTitle,.FAQsTitle, .TestiTitle {
        font-size: 2.7vh;
    }
    
    .card {
        margin: 2vh 0;
    }
    
    .FAQs {
        padding: 0 !important;
        margin: 0 !important;
        width: 100% !important;
    }
    
    button.btn-link {
        text-align: left !important;
    }
    
    .navbar-brand {
        width: 70%;
    }
    
    .navbar-header {
        width: 70%;
    }
    
    .navbar {
        padding: 1vh 2vh !important;
    }
    
    .AbText {
        font-size: 1.75vh;
        color: white;
    }
    
    .CleanOverlay {
        display: block;    
    }
    
    .CleanPic {
        background-image: url(Image/About_Us_2.jpg);
    }
    
    .CleanPic,.CleanOverlay {
        height: 85%;
    }
}